<div class="wrapper">
  <div class="team">
    <div class="team-top">
      <h2 class="team-top__title d2">Team</h2>
      <p class="team-top__desc dp">Meet the skilled and experienced team behind our
        successful digital marketing strategies</p>
    </div>
    <div class="members">
        <div class="member">
          <p class="member-link d3"><a>in</a></p>
          <img [src]="memberOne" class="member-logo">
          <h4 class="member-name">{{ nameOne }}</h4>
          <p class="member-profession">{{ professionOne }}</p>
          <hr class="member-line" />
          <p class="member-about">{{ aboutOne }}</p>
        </div>
        <div class="member">
          <p class="member-link d3"><a>in</a></p>
          <img [src]="memberTwo" class="member-logo">
          <h4 class="member-name">{{ nameTwo }}</h4>
          <p class="member-profession">{{ professionTwo }}</p>
          <hr class="member-line" />
          <p class="member-about">{{ aboutTwo }}</p>
        </div>
        <div class="member">
          <p class="member-link d3"><a>in</a></p>
          <img [src]="memberThree" class="member-logo">
          <h4 class="member-name">{{ nameThree }}</h4>
          <p class="member-profession">{{ professionThree }}</p>
          <hr class="member-line" />
          <p class="member-about">{{ aboutThree }}</p>
        </div>
        <div class="member">
          <p class="member-link d3"><a>in</a></p>
          <img [src]="memberFour" class="member-logo">
          <h4 class="member-name">{{ nameFour }}</h4>
          <p class="member-profession">{{ professionFour }}</p>
          <hr class="member-line" />
          <p class="member-about">{{ aboutFour }}</p>
        </div>
        <div class="member">
          <p class="member-link d3"><a>in</a></p>
          <img [src]="memberFive" class="member-logo">
          <h4 class="member-name">{{ nameFive }}</h4>
          <p class="member-profession">{{ professionFive }}</p>
          <hr class="member-line" />
          <p class="member-about">{{ aboutFive }}</p>
        </div>
        <div class="member">
          <p class="member-link d3"><a>in</a></p>
          <img [src]="memberSix" class="member-logo">
          <h4 class="member-name">{{ nameSix }}</h4>
          <p class="member-profession">{{ professionSix }}</p>
          <hr class="member-line" />
          <p class="member-about">{{ aboutSix }}</p>
        </div>
    </div>
    <div class="member-button">
      <button class="members-btn">See all team</button>
    </div>
  </div>
</div>
