<div class="wrapper">
  <div class="footer-container">
    <div class="footer-nav">
      <img [src]="footerLogo" alt="logoWhite" class="logoWhite">
      <div class="footer-nav_links">
        <ul class="footer-nav_links-list">
          <li class="footer-nav_links-item">About us</li>
          <li class="footer-nav_links-item">Services</li>
          <li class="footer-nav_links-item">Use Cases</li>
          <li class="footer-nav_links-item">Pricing</li>
          <li class="footer-nav_links-item">Blog</li>
        </ul>
      </div>
      <div class="footer-nav_social">
        <img [src]="linkedIn" alt="linkedIn" class="linkedIn">
        <img [src]="facebook" alt="facebook" class="facebook">
        <img [src]="twitter" alt="twitter" class="twitter">
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-content_info">
        <h4 class="footer-content_info-title d4">Contact us:</h4>
        <p class="footer-content_info-email dp">Email: {{ email }}</p>
        <p class="footer-content_info-phone dp">Phone: {{ phone }}</p>
        <p class="footer-content_info-addressPartI dp">Address: {{ addressPartI }} </p>
        <p class="footer-content_info-addressPartII dp">{{ addressPartII }} </p>
      </div>
      <div class="footer-content_form">

      </div>
    </div>
    <div class="footer-content_copyright">

    </div>
  </div>
</div>
