@import '../../../styles.scss';

.wrapper {
  margin: 220px 0 0 350px;
}

.footer-container {
  width: 1241px;
  height: 534px;
  background: $dark;
  border-radius: 50px 50px 0 0;
}

.logoWhite {
  margin: 55px 0 0 60px;
}

.footer-nav {
  display: flex;
}

.footer-nav_links {
  margin: 58px 0 0 155px;
}

.footer-nav_links-list {
  display: inline-flex;
}

.footer-nav_links-item {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer-nav_links-item:nth-child(2),
.footer-nav_links-item:nth-child(3),
.footer-nav_links-item:nth-child(4),
.footer-nav_links-item:nth-child(5){
  margin-left: 40px;
}

.footer-nav_social {
  margin: 55px 0 0 155px;
}

.linkedIn {
  cursor: pointer;
}

.facebook, .twitter {
  margin-left: 20px;
  cursor: pointer;
}

.footer-content {
  display: flex;
}

.footer-content_info {
  margin: 66px 0 0 60px;
}

.footer-content_info-title {
  width: 126px;
  height: 26px;
  background: $green;
  padding: 0 7px;
  border-radius: 7px;
}

.footer-content_info-email {
  margin-top: 27px;
  color: #ffffff;
}

.footer-content_info-phone {
  margin-top: 20px;
  color: #ffffff;
}

.footer-content_info-addressPartI {
  margin-top: 20px;
  color: #ffffff;
  width: 332px;
  height: 46px;
}

.footer-content_info-addressPartII {
  margin-top: -25px;
  color: #ffffff;
  width: 332px;
  height: 46px;
}

.footer-content_form {
  width: 634px;
  height: 184px;
  background: #292a32;
  margin: 66px 0 0 154px;
  border-radius: 14px;
}

input {
  width: 285px;
  height: 67px;
  border: 1px solid #fff;
  border-radius: 14px;
  margin: 58px 0 0 40px;
  padding: 30px;
}

input::placeholder {
  padding: 22px 0 0 0;
  color: #ffffff;
}

.footer-btn {
  width: 249px;
  height: 68px;
  margin: 58px 0 0 20px;
  background: $green;
  border-radius: 14px;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.footer-line {
  border: none;
  height: 2px;
  background-color: #fff;
  margin: 50px 60px;
}

.footer-content_copyright {
  display: flex;
  margin-left: 60px;
}

.copyright {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.privacy {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline;
  margin-left: 40px;
  cursor: pointer;
}
