<div class="wrapper">
  <div class="footer-container">
    <div class="footer-nav">
      <img [src]="footerLogo" alt="logoWhite" class="logoWhite">
      <div class="footer-nav_links">
        <ul class="footer-nav_links-list">
          <li class="footer-nav_links-item"><a>About us</a></li>
          <li class="footer-nav_links-item"><a>Services</a></li>
          <li class="footer-nav_links-item"><a>Use Cases</a></li>
          <li class="footer-nav_links-item"><a>Pricing</a></li>
          <li class="footer-nav_links-item"><a>Blog</a></li>
        </ul>
      </div>
      <div class="footer-nav_social">
        <img [src]="linkedIn" alt="linkedIn" class="linkedIn">
        <img [src]="facebook" alt="facebook" class="facebook">
        <img [src]="twitter" alt="twitter" class="twitter">
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-content_info">
        <h4 class="footer-content_info-title d4">Contact us:</h4>
        <p class="footer-content_info-email dp">Email: {{ email }}</p>
        <p class="footer-content_info-phone dp">Phone: {{ phone }}</p>
        <p class="footer-content_info-addressPartI dp">Address: {{ addressPartI }} </p>
        <p class="footer-content_info-addressPartII dp">{{ addressPartII }} </p>
      </div>
      <div class="footer-content_form">
        <input type="text" placeholder="Email" class="footer-input dp">
        <button class="footer-btn">Subscribe to news</button>
      </div>
    </div>
    <hr class="footer-line">
    <div class="footer-content_copyright">
      <p class="copyright">© 2023 Positivus. All Rights Reserved.</p>
      <a class="privacy">Privacy Policy</a>
    </div>
  </div>
</div>
