<div class="wrapper">
  <div class="hero">
    <div class="hero-content">
      <h1 class="hero-content__title d1">Navigating the digital landscape for success</h1>
      <p class="hero-content__desc">Our digital marketing agency helps businesses grow and succeed online through a range
        of services including SEO, PPC, social media marketing, and content creation.</p>
      <button class="hero-content__btn">Book a consultation</button>
    </div>
    <div class="hero-image">
      <img [src]="heroimage" alt="">
    </div>
  </div>
  <div class="company" >
    <img [src]="amazon" alt="" class="amazon">
    <img [src]="dribbble" alt="" class="dribbble">
    <img [src]="hubSpot" alt="" class="hubSpot">
    <img [src]="notion" alt="" class="notion">
    <img [src]="netflix" alt="" class="netflix">
    <img [src]="zoom" alt="" class="zoom">
  </div>
</div>
