<div class="wrapper">
    <div class="case-top">
      <h2 class="case-top__title d2">Case Studies</h2>
      <p class="case-top__desc dp">Explore Real-Life Examples of Our Proven Digital
        Marketing Success through Our Case Studies</p>
    </div>
    <div class="case-item">
      <div class="case-item__left">
        <div class="case-item__left-desc ">
          <p class="description dp">For a local restaurant, we implemented a targeted PPC campaign
            that resulted in a 50% increase in website traffic and a 25% increase in
            sales.</p>
        </div>
        <div class="case-item__left-more">
          <p class="more-description">Learn more</p> <img [src]="arrow" class="arrow-more">
        </div>
      </div>
      <hr />
      <div class="case-item__middle">
        <div class="case-item__middle-desc ">
          <p class="description dp">For a B2B software company, we developed an SEO
            strategy that resulted in a first page ranking for key keywords and a
            200% increase in organic traffic.</p>
        </div>
      </div>
      <div class="case-item__middle-more">
        <p class="more-description__middle">Learn more <img [src]="arrow" class="arrow-more__middle"></p>
      </div>
      </div>
      <hr class="line"/>
      <div class="case-item__right">
        <div class="case-item__right-desc ">
          <p class="description dp">For a national retail chain, we created a social media marketing campaign that
            increased followers by 25% and generated a 20% increase in online sales..</p>
        </div>
      </div>
  <div class="case-item__right-more">
    <p class="more-description__right">Learn more <img [src]="arrow" class="arrow-more__right"></p>
  </div>
      </div>

