@import '../../../styles.scss';

.wrapper {
  margin: 100px 0 0 350px;
 }

.title-section {
  display: flex;
}

.title {
  width: 255px;
  background: $green;
  padding: 0 7px;
  border-radius: 7px
}

.desc {
  width: 473px;
  margin: 8px 0 5px 40px;
}

.slider-section {
  margin-top: 80px;
  width: 1240px;
  height: 625px;
  border-radius: 45px;
  background: $dark;
  overflow: hidden;

  .slider-section_slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;

    .slider-section_slides-slide {
      width: 40%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 -140px 0 310px;
      opacity: 0.6;
      transition: opacity 0.5s ease;

      &.active {
        opacity: 1;
      }
    }
  }

  .slider-desc {
    width: 502px;
    height: 138px;
    margin: -230px 52px 0 52px;
    color: #ffffff;
  }

  .slider-image {
    margin: 84px 324px 0 310px;
  }

  .slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 122px;
  }

  .slider-name {
    color: $green;
    margin: 100px 0 0 -340px;
  }

  .slider-proffesion {
    color: #fff;
    margin: 0 0 0 -180px;
  }

  .arrowLeft, .arrowRight {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 189px;
  }

  .star {
    width: 15px;
    height: 15px;
    margin: 0 10px;
  }
}












