<div class="wrapper">
  <div class="proposal">
    <div class="proposal-content">
      <h3 class="proposal-content__title d3">Let’s make things happen</h3>
      <p class="proposal-content__desc dp">Contact us today to learn more about how our digital marketing services can help your business grow
        and succeed online.</p>
      <button class="proposal-content__btn">Get your free proposal</button>
    </div>
    <div class="proposal-image">
      <img [src]="proposal" >
    </div>
  </div>
</div>
