<div class="wrapper">
      <div class="services-top">
        <h2 class="services-top__title d2" >Services</h2>
        <p class="services-top__desc dp">At our digital marketing agency, we offer a range of services to help businesses grow and succeed
          online. These services include:</p>
      </div>
      <div class="services-card">
        <div class="services-card__containerOne">
          <div class="services-card__search">
            <div class="services-search__top">
              <h3 class="services-search__title d3">Search engine</h3>
              <h3 class="services-search__subtitle d3">optimization</h3>
            </div>
            <img [src]="search" class="services-search__img">
            <div class="services-search__more">
              <img [src]="arrow" class="arrow"> <p class="services-search__more-text">Learn more</p>
            </div>
          </div>
          <div class="services-card__pay">
            <div class="services-pay__top">
              <h3 class="services-pay__title d3">Pay-per-click</h3>
              <h3 class="services-pay__subtitle d3">advertising</h3>
            </div>
            <img [src]="pay" class="services-pay__img">
            <div class="services-pay__more">
              <img [src]="arrow" class="arrow"> <p class="services-pay__more-text">Learn more</p>
            </div>
          </div>
        </div>
        <div class="services-card__containerTwo">
          <div class="services-card__social">
            <div class="services-social__top">
              <h3 class="services-social__title d3">Social Media</h3>
              <h3 class="services-social__subtitle d3">Marketing</h3>
            </div>
            <img [src]="social" class="services-social__img">
            <div class="services-social__more">
              <img [src]="arrowBlack" class="arrowBlack"> <p class="services-social__more-text">Learn more</p>
            </div>
          </div>
          </div>
          <div class="services-card__email">
            <div class="services-email__top">
              <h3 class="services-email__title d3">Email</h3>
              <h3 class="services-email__subtitle d3">Marketing</h3>
            </div>
            <img [src]="email" class="services-email__img">
            <div class="services-email__more">
              <img [src]="arrow" class="arrow"> <p class="services-email__more-text">Learn more</p>
            </div>
          </div>
        </div>
        <div class="services-card__containerThree">
          <div class="services-card__content">
            <div class="services-content__top">
              <h3 class="services-content__title d3">Content</h3>
              <h3 class="services-content__subtitle d3">Creation</h3>
            </div>
            <img [src]="content" class="services-content__img">
            <div class="services-content__more">
              <img [src]="arrow" class="arrow"> <p class="services-content__more-text">Learn more</p>
            </div>
          </div>
          <div class="services-card__analytics">
            <div class="services-analytics__top">
              <h3 class="services-analytics__title d3">Analytics and </h3>
              <h3 class="services-analytics__subtitle d3">Tracking</h3>
            </div>
            <img [src]="analytics" class="services-analytics__img">
            <div class="services-analytics__more">
              <img [src]="arrowBlack" class="arrowBlack"> <p class="services-analytics__more-text">Learn more</p>
            </div>
          </div>
        </div>
      </div>
